<!-- This component will hold logic to add blueprint or server -->
<div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <!-- We are using local reference here instead of 2 way data binding -->
      <!-- We can use this local reference in template or pass it to ts file -->
      <input type="text" 
      class="form-control" 
      #newServerName>
      <!-- Example of using local reference variable in template -->
      <p>{{newServerName.value}}</p>
      <label>Server Content</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContent">
      <br>
      <!-- Example of passing local reference to ts file -->
      <button
        class="btn btn-primary"
        (click)="onAddServer(newServerName)">Add Server</button>
        &nbsp;
        &nbsp;
      <button
        class="btn btn-primary"
        (click)="onAddBlueprint(newServerName)">Add Server Blueprint</button>
    </div>
  </div>