<div class="container">
  <app-cockpit></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <!-- Here we need to pass the serverElement for iteration to the child component app-server-element which will be executed in next commit-->
      <!-- We can compare this to  binding the disabled attribute where the property was set on the HTML element-->
      <!-- Here instead of binding to HTML element the attribute that we pass(serverElement) is set on the attribute of the child element(element) -->
      <app-server-element [servElement]="serverElement" *ngFor="let serverElement of serverElements"></app-server-element>
    </div>
  </div>
</div>
