<label>Server Name</label>
<!-- $event between "" is the data emitted by that event -->
<input type="text" 
       class="form-control"
       [(ngModel)]="studentName">
<div>{{studentName}}</div>
<!-- Normal HTML sets specific property on the underlying DOM element 
     Each HTML element is parsed by the browser and translated to and element on the document object model
     Therefore we have element in the dom that has couple of properties/ attributes
     Using [] we are not using the disabled property but we are directly binding to native disable property in the HTML element has
-->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onStudentCreation()">Add Student</button>
<p>{{studentCreationStatus}}</p>
<app-student></app-student>